* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#header{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    padding: 10px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
}

#barra-navegacion-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
    border-bottom: solid 2px;
    border-color: rgb(122,122,122);
    align-items: center;
}

.active{
    color: #E3E6F3;
    background-color: rgb(215, 226, 45);
    transition: 0.4s ease;
    border-radius: 3px;
}

#mobile{
    display: none;
}

.contacto-barra-1{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

#contenedor-barra-navegacion-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding: 10px 10px;
    border-bottom: solid 2px;
    border-color: rgb(122,122,122);

}

#barra-navegacion-2{
    display: flex;
    flex-direction: row;
}

#navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: rgb(122,122,122);
}

#close{
    display: none;
}

#navbar li a{
    color: rgb(122,122,122);
    font-weight: bolder;
}

#logo{
    margin: 0 30px;
}

.imagen-logo{
    height: 79px;
    width: 123px;
}

#navbar li{
    padding: 0 30px;
}

#barra-navegacion-1 li{
    padding: 0 10px;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.iconos-redes{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.contacto-barra-navegacion{
    
    border-color: rgb(122, 122, 122);
}

.contenedor-rrhh{
    width: 29px;
    height: 29px;
}

.contenedor-rrhh-in{
    width: 25px;
    height: 25px;
}

.contenedor-rrhh-in-mail{
    width: 25px;
    height: 25px;
}

.contenedor-rrhh-in-1{
    width: 33px;
    height: 33px;
}

.opcion-menu{
    padding: 3px;
}

.opcion-menu:hover{
    color: #E3E6F3;
    background-color: rgb(215, 226, 45);
    transition: 0.4s ease;
    border-radius: 3px;
}

/*---------------------- Seccion Hero --------------------------*/

#hero{
    min-height: 80vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.3;
    mix-blend-mode: overlay;
}

#info-general{
    display: flex;
    justify-content: left;
    margin-left: 100px;
    position: relative;
    z-index: 2;
    padding: 100px;
}

.texto-front-page{
    font-size: 22px;
}

.vision-text{
    margin-top: 10px;
}

.imagen-proyecto{
    width: 600px;
    height: 300px;
    padding: 10px;
}

#contenedor-texto{
    padding: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

#contenedor-texto h4{
    color: white;
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-bottom: 30px;
    width: 20%;
}

#contenedor-texto h2{
    color: white;
    margin-bottom: 25px;
    font-size: 40px;
}

#contenedor-texto p{
    color: white;
}

.clase-span{
    font-weight: bold;
}

.hero-contact{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(215, 226, 45);
    margin: 20px 0;
    border: none;
    color: white;
    font-weight: 900;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hero-contact:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    cursor: pointer;
}

#contenedor-contacto-hero{
    height: 40vh;
    background-color: rgb(215, 226, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

#contenedor-contacto-hero h2{
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    color: white;
}

.contacto-amarillo{
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(215, 226, 45);
    margin: 10px 0;
    border: solid 1px black;
    font-weight: 900;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

.contacto-amarillo:hover{
    background-color: white;
    color: rgb(215, 226, 45);
    transition: 0.3s ease;
    cursor: pointer;
}

.contenedor-btn-contacto{
    margin: 10px;
    padding: 10px;
}

.contenedor-telefono{
    display: flex;
    flex-direction: row;
}

.img-contacto{
    width: 32px;
    height: 32px;
}


/*---------------------- Seccion Footer --------------------------*/

#footer{
    max-height: 400px;
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-position-x: 50%;
    background-position-y: 78%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    padding: 15px 50px;
}

#footer h3{
    color: white;
}

#footer p{
    color: white;
}

.contenedor-footer{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.contenedor-footer1{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.contenedor-footer0{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 10px;
}

.contenedor-footer2{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 10px;
}

.parrafo-footer{
    padding: 15px 0;
}

.h3-footer{
    border-bottom: solid 2px rgb(215, 226, 45);
}

.btn-contenedor-footer{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.footer-btn{
    background: rgb(215, 226, 45);
    border: none;
    color: black;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.footer-btn:hover{
    background:  rgb(215, 226, 45);
    transition: 0.4s;
    cursor: pointer;
}

.contenedor-proyectos-footer{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.proyecto-footer-fecha{
    margin: 0 15px;
    background-color:  rgb(215, 226, 45);
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

.texto-fecha-footer{
    color: black;
}

.proyecto-footer-datos{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-proyecto{
    color: rgb(215, 226, 45);
}

.imagen-footer{
    height: 120px;
    width: 180px;
}

.contenedor-footer-logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rrhh-footer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 160px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.datos-footer{
    color: rgb(215, 226, 45);
    margin: 5px;
}

.iconos-footer{
    margin: 2px;
    border: solid 1px white;
}


/*---------------------- Pagina About Us --------------------------*/

#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-about-us{
    padding: 50px 200px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedor-titulo-about-us{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

#contenedor-titulo-about-us p{
    margin-top: 10px;
}

.h2-about-us{
    margin-bottom: 20px;
}

.img-arquitecto{
    width: 128px;
    height: 128px;
}

.foto-cv{
    width: 350px;
    height: 350px;
    margin-right: 50px;
}

#about-us h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-bottom: 30px;
    width: 13%;
}

/*---------------------- Pagina Works --------------------------*/

#works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 50px 50px;
}

.img-proyecto{
    height: 150px;
    width: 300px;
}

.margen-proy-ind{
    margin: 8px;
}

.proyecto-individual{
    background: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual1{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 01\ -\ \ 1\ \(PORTADA\)b.jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual1:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 01\ -\ \ 1\ \(PORTADA\)b.jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual2{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual2:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual3{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 03\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual3:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 03\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual4{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 4\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual4:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 4\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual5{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 05\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual5:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 05\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual6{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/House\ 06\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual6:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/House\ 06\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual7{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 07\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual7:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 07\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual8{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/FARM\ HOUSE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual8:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/FARM\ HOUSE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual9{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/Bike\ Rent\ Building\ -\ 1\ \(Portada\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual9:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/Bike\ Rent\ Building\ -\ 1\ \(Portada\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual10{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/RESTAURANT\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual10:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/RESTAURANT\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual11{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/Circle\ Church\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual11:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/Circle\ Church\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual12{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/NGO\ BUILDING\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual12:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/NGO\ BUILDING\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual13{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/OFFICE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual13:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/OFFICE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual14{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/OFFICE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual14:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/OFFICE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual15{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/DORMS\ BATHROOMS\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual15:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/DORMS\ BATHROOMS\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.info-proyectos{
    color: white;
}

#works h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-top: 30px;
    width: 5%;
}

.capa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mas-info{
    display: none;
}

.capa:hover .mas-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capa p{
    color: white;
    margin-bottom: 3px;
}

.contenedor-btn-pag{
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.btns-pag{
    display: flex;
    flex-direction: row;
}

.btn-paginacion{
    border: none;
    padding: 20px;
    margin: 10px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: rgb(215, 226, 45);
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-paginacion{
    height: 28px;
    width: 28px;
}

/*---------------------- Pagina Reviews --------------------------*/

#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#reviews h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin: 30px;
    width: 5%;
}

.contenedor-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
}

.review-box{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 280px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.perfil-info{
    display: flex;
    flex-direction: row;
}

.imagen-perfil{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.imagen-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews-estrellas{
    color: #f9d71c;
}

.nombre-usuario p{
    font-size: 13px;
}

.other-reviews{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.other-reviews-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 85%;
}

.box-superior-other-reviews{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 25%;
}

.texto-other-reviews{
    width: 75%;
}

/*---------------------- Pagina ContactUs --------------------------*/
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacto h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin: 10px;
    
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.info-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(215, 226, 45);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    padding-top: 65px ;
}

.imagen-contacto{
    width: 50px;
    height: 50px;
    margin: 20px 0;
    margin-right: 30px;
}

.datos-contacto{
    margin-left: 10px;
}

.contenedor-formulario{
    width: 66%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.contenedor-datos{
    width: 33%;
    height: 100%;
    background-color: rgb(215, 226, 45);
}

.input-box{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.input-box-typemessage{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 52%;
}

.input-box span{
    margin: 2px;
}

.input-box textarea{
    width: 400px;
    max-height: 150px;
    max-width: 500px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datos-input-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}


/*---------------------- Detalles de trabajo --------------------------*/
#detalle-work{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#detalle-work .img-detalle-work{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#texto-detalle-work{
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 120px;
}

#texto-detalle-work h5{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-bottom: 5px;
    width: 50%;
    font-size: 15px;
}

.titulo-detalle{
    margin-bottom: 20px;
}

.tamano-detalle{
    margin-bottom: 20px;
}

.cliente-detalle{
    margin-bottom: 20px;
}

#main-img{
    width: 100%;
}

.img-chica{
    width: 100%;
}

.grupo-img-chicas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-chica-col{
    flex-basis: 24%;
    cursor: pointer;
}

#contenedor-work{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}

/* Estilos para el carrusel */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.carousel-main {
    width: 100%px; /* Ancho de la imagen principal */
    height: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.carousel-main img {
    width: 100%;
    height: 100%;
    display: block;
}

.carousel-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.contenedor-img-mini{
    width: 150px;
    height: 75px;
    margin: 5px;
}

.thumbnail {
    width: 100%; /* Ancho de las miniaturas */
    height: 100%;
    margin: 0 0px;
    cursor: pointer;
}

/* Estilos para resaltar la miniatura seleccionada */
.thumbnail.active {
    border: 2px solid rgb(215, 226, 45);
}

/*---------------------- Media Querys --------------------------*/
@media(max-width: 1024px){
    #contenedor-about-us {
        padding: 50px 100px;
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #about-us h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 20%;
    }

    .h3-footer {
        border-bottom: solid 2px rgb(215, 226, 45);
        width: 60%;
    }

    .review-box {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 280px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 15px;
        margin: 10px;
    }

    .contenedor-datos {
        width: 33%;
        height: 100%;
        background-color: rgb(215, 226, 45);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info-contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(215, 226, 45);
        border-radius: 10px;
        padding: 20px;
        margin: 0px 0;
        padding-top: 35px;
    }

    .imagen-contacto {
        width: 50px;
        height: 50px;
        margin: 20px 0;
        margin-right: 15px;
    }
}


@media(max-width: 799px){
    #header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
        background-color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
        
    }

    #barra-navegacion-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 5px;
        margin-top: 5px;
        border-bottom: none;
        border-color: rgb(122,122,122);
        align-items: center;
        
    }

    #logo {
        margin: 0 10px;
    }

    #contenedor-barra-navegacion-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 5px 10px;
        padding: 10px 10px;
        border-bottom: none;
        border-color: rgb(122,122,122);
    }

    #navbar li {
        padding: 0 10px;
    }

    #barra-navegacion-2 {
        display: flex;
        flex-direction: row;
        width: 500px;
    }

    #info-general {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 50px;
        margin-left: 20px;
    }

    #contenedor-texto h4 {
        color: white;
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 19%;
    }

    .contenedor-footer1 {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    .contenedor-footer0{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        display: none;
    }

    #footer {
        max-height: 400px;
        background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
        background-position-x: 50%;
        background-position-y: 78%;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        padding: 15px 50px;
    }

    #contenedor-about-us {
        padding: 50px 50px;
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #about-us h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 30%;
    }

    .contenedor-datos {
        width: 50%;
        height: 100%;
        background-color: rgb(215, 226, 45);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedor-formulario {
        width: 50%;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
    }

    .input-box {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .contenedor-btn-contacto {
        margin: 10px;
        padding: 10px;
        display: flex;
    }

    .contacto-amarillo{
        margin: 0 5px;
    }
}

@media(max-width: 700px){
    #info-general {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 10px;
        margin-left: 10px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        list-style: none;
        color: rgb(122,122,122);
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -380px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.35);
        padding: 80px 0 0 15px;
        transition: 0.3s;
    }

    #close{
        display: flex;
        position: absolute;
        top: 30px;
        color: rgb(122,122,122);
        font-weight: bold;
    }

    #navbar.active{
        right: -80px;
    }

    #navbar li{
        margin-bottom: 15px;
    }

    #logo {
        margin: 0 10px;
        margin-right: 80px;
    }

    #barra-navegacion-1 li {
        padding: 0 3px;
        padding-bottom: 5px;
    }

    .contenedor-rrhh-in-mail {
        width: 25px;
        height: 25px;
        display: none;
    }

    #barra-navegacion-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 5px;
        margin-top: 5px;
        border-bottom: none;
        border-color: rgb(122,122,122);
        align-items: center;
    }

    #mobile{
        display: flex;
    }

    #contenedor-titulo-about-us {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
        height: 100%;
    }

    .foto-cv {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 270px;
    }

    #contenedor-about-us {
        margin-top: 20px;
        padding: 10px 10px;
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #about-us h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 40%;
    }

    #contenedor-texto h4 {
        color: white;
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 30%;
    }

    #contenedor-contacto-hero {
        height: 100%;
        background-color: rgb(215, 226, 45);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #contenedor-contacto-hero h2 {
        margin: 1px;
        font-size: 40px;
        color: white;
    }

    .contenedor-telefono {
        display: flex;
        flex-direction: row;
        width: 350px;
        justify-content: center;
    }

    #contenedor-contacto-hero p{
        width: 350px;
        display: flex;
        justify-content: center;
    }

    .contenedor-footer2{
        display: none;
    }

    .contenedor-footer-logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo {
        margin: 0 0px;
        margin-right: 0px;
    }

    #contenedor-proyectos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 50px;
        width: 425px;
    }

    #works h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-top: 30px;
        width: 16%;
    }

    #reviews h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin: 30px;
        width: 18%;
    }

    .contenedor-contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .contenedor-datos {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 226, 45);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedor-formulario {
        width: 100%;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
    }

}

@media(max-width: 380px){
    #navbar {
        display: flex;
        flex-direction: column;
        list-style: none;
        color: rgb(122,122,122);
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -380px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.35);
        padding: 80px 0 0 15px;
        transition: 0.3s;
    }

    #contacto-header{
        display: none;
    }

    #barra-navegacion-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 5px;
        margin-top: 5px;
        border-bottom: none;
        border-color: rgb(122,122,122);
        align-items: center;
    }

    #contenedor-texto h4 {
        color: white;
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 38%;
    }

    #contenedor-proyectos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0px;
        width: 375px;
    }

    .other-reviews-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 5px;
        margin: 8px;
        width: 85%;
    }

    .nombre-usuario{
        margin-bottom: 5px;
    }

}

@media(max-width: 330px){

    #contenedor-about-us {
        margin-top: 20px;
        padding: 10px 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .foto-cv {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 380px;
    }

    #about-us h4 {
        color: rgb(122, 122, 122);
        border-bottom: solid 2px;
        border-color: rgb(215, 226, 45);
        margin-bottom: 30px;
        width: 50%;
    }

    #contenedor-proyectos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0px;
        width: 320px;
    }

    .info-contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(215, 226, 45);
        border-radius: 10px;
        padding: 8px;
        margin: 0px 0;
        padding-top: 15px;
    }

    #info-general {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 10px 0;
        margin-left: 0px;
        width: 100%;
    }

    #contenedor-texto {
        padding: 5px;
        display: flex;
        flex-direction: column;
        vertical-align: top;
        width: 100%;
    }
}

