* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Victor Mono', monospace;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#header{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    padding: 10px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
}

#barra-navegacion-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
    border-bottom: solid 2px;
    border-color: rgb(122,122,122);
    align-items: center;
}

.contacto-barra-1{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

#contenedor-barra-navegacion-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding: 10px 10px;
    border-bottom: solid 2px;
    border-color: rgb(122,122,122);

}

#barra-navegacion-2{
    display: flex;
    flex-direction: row;
}

#navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: rgb(122,122,122);
}

#navbar li a{
    color: rgb(122,122,122);
    font-weight: bolder;
}

#logo{
    margin: 0 30px;
}

.imagen-logo{
    height: 79px;
    width: 123px;
}

#navbar li{
    padding: 0 30px;
}

#barra-navegacion-1 li{
    padding: 0 10px;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.iconos-redes{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.contacto-barra-navegacion{
    
    border-color: rgb(122, 122, 122);
}

.contenedor-rrhh{
    width: 29px;
    height: 29px;
}

.contenedor-rrhh-in{
    width: 25px;
    height: 25px;
}

.contenedor-rrhh-in-1{
    width: 33px;
    height: 33px;
}

.opcion-menu{
    padding: 3px;
}

.opcion-menu:hover{
    color: #E3E6F3;
    background-color: rgb(215, 226, 45);
    transition: 0.4s ease;
    border-radius: 3px;
}

/*---------------------- Seccion Hero --------------------------*/

#hero{
    height: 75vh;
}

#info-general{
    display: flex;
    justify-content: center;
    
    padding: 100px;
}

.imagen-proyecto{
    width: 600px;
    height: 300px;
    padding: 10px;
}

#contenedor-texto{
    padding: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

#contenedor-texto h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-bottom: 30px;
}

#contenedor-texto h2{
    color: black;
    margin-bottom: 25px;
}

.clase-span{
    font-weight: bolder;
}

.hero-contact{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(215, 226, 45);
    margin: 20px 0;
    border: none;
    color: white;
    font-weight: 900;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hero-contact:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    cursor: pointer;
}

#contenedor-contacto-hero{
    height: 40vh;
    background-color: rgb(215, 226, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

#contenedor-contacto-hero h2{
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    color: white;
}

.contacto-amarillo{
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(215, 226, 45);
    margin: 10px 0;
    border: solid 1px black;
    font-weight: 900;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

.contacto-amarillo:hover{
    background-color: white;
    color: rgb(215, 226, 45);
    transition: 0.3s ease;
    cursor: pointer;
}

.contenedor-btn-contacto{
    margin: 10px;
    padding: 10px;
}

.contenedor-telefono{
    display: flex;
    flex-direction: row;
}

.img-contacto{
    width: 32px;
    height: 32px;
}


/*---------------------- Seccion Footer --------------------------*/

#footer{
    max-height: 400px;
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-position-x: 50%;
    background-position-y: 78%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    padding: 15px 50px;
}

#footer h3{
    color: white;
}

#footer p{
    color: white;
}

.contenedor-footer{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.parrafo-footer{
    padding: 30px 0;
}

.h3-footer{
    border-bottom: solid 2px rgb(215, 226, 45);
}

.btn-contenedor-footer{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.footer-btn{
    background: rgb(215, 226, 45);
    border: none;
    color: black;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.footer-btn:hover{
    background:  rgb(215, 226, 45);
    transition: 0.4s;
    cursor: pointer;
}

.contenedor-proyectos-footer{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.proyecto-footer-fecha{
    margin: 0 15px;
    background-color:  rgb(215, 226, 45);
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

.texto-fecha-footer{
    color: black;
}

.proyecto-footer-datos{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-proyecto{
    color: rgb(215, 226, 45);
}

.imagen-footer{
    height: 120px;
    width: 180px;
}

.contenedor-footer-logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rrhh-footer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 160px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.datos-footer{
    color: rgb(215, 226, 45);
    margin: 5px;
}

.iconos-footer{
    margin: 2px;
    border: solid 1px white;
}


/*---------------------- Pagina About Us --------------------------*/

#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-about-us{
    padding: 50px 200px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedor-titulo-about-us{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.h2-about-us{
    margin-bottom: 20px;
}

.img-arquitecto{
    width: 128px;
    height: 128px;
}

#p-about-us{
    margin-bottom: 20px;
}

.foto-cv{
    width: 350px;
    height: 350px;
    margin-right: 50px;
}

#about-us h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-bottom: 30px;
    width: 10%;
}

/*---------------------- Pagina Works --------------------------*/

#works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 50px 100px;
}

.img-proyecto{
    height: 150px;
    width: 300px;
}

.margen-proy-ind{
    margin: 8px;
}

.proyecto-individual{
    background: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/pexels-josh-hild-4270292.jpg") no-repeat center center;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual1{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 01\ -\ \ 1\ \(PORTADA\)b.jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual1:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 01\ -\ \ 1\ \(PORTADA\)b.jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual2{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual2:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual3{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 03\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual3:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 03\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual4{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 4\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual4:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 4\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual5{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 05\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual5:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 05\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual6{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/House\ 06\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual6:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/House\ 06\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual7{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/HOUSE\ 07\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual7:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/HOUSE\ 07\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual8{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/FARM\ HOUSE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual8:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/FARM\ HOUSE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual9{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/Bike\ Rent\ Building\ -\ 1\ \(Portada\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual9:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/Bike\ Rent\ Building\ -\ 1\ \(Portada\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual10{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/RESTAURANT\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual10:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/RESTAURANT\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual11{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/Circle\ Church\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual11:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/Circle\ Church\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual12{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/NGO\ BUILDING\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual12:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/NGO\ BUILDING\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual13{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/OFFICE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual13:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/OFFICE\ 01\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual14{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/OFFICE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual14:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/OFFICE\ 02\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual15{
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10)), url("./imagenes/DORMS\ BATHROOMS\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.proyecto-individual15:hover{
    background: linear-gradient(rgba(5, 7, 12, 1), rgba(5, 7, 12, 0.50)), url("./imagenes/DORMS\ BATHROOMS\ -\ 1\ \(PORTADA\).jpg") no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.info-proyectos{
    color: white;
}

#works h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin-top: 30px;
    width: 5%;
}

.capa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mas-info{
    display: none;
}

.capa:hover .mas-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capa p{
    color: white;
    margin-bottom: 3px;
}

.contenedor-btn-pag{
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.btns-pag{
    display: flex;
    flex-direction: row;
}

.btn-paginacion{
    border: none;
    padding: 20px;
    margin: 10px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: rgb(215, 226, 45);
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-paginacion{
    height: 28px;
    width: 28px;
}

/*---------------------- Pagina Reviews --------------------------*/

#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#reviews h4{
    color: rgb(122, 122, 122);
    border-bottom: solid 2px;
    border-color: rgb(215, 226, 45);
    margin: 30px;
    width: 5%;
}

.contenedor-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
}

.review-box{
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.perfil-info{
    display: flex;
    flex-direction: row;
}

.imagen-perfil{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.imagen-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews-estrellas{
    color: #f9d71c;
}

.nombre-usuario p{
    font-size: 13px;
}

.other-reviews{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.other-reviews-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 85%;
}

.box-superior-other-reviews{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 25%;
}

